
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-comment:before { content: '\e801'; } /* '' */
.icon-comment-alt:before { content: '\e802'; } /* '' */
.icon-comment-1:before { content: '\e803'; } /* '' */
.icon-comment-2:before { content: '\e804'; } /* '' */
.icon-tag:before { content: '\e805'; } /* '' */
.icon-tag-1:before { content: '\e806'; } /* '' */
.icon-tag-2:before { content: '\e807'; } /* '' */
.icon-tags:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-help-circled:before { content: '\e80a'; } /* '' */
.icon-home-outline:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */